@font-face {
  src: url("../fonts/Cordale-Regular.woff2"),
    url("../fonts/Cordale-Regular.woff"),
    url("../fonts/Cordale-Regular_gdi.ttf");
  font-family: "cordale_regular";
}

@font-face {
  src: url("../fonts/JohnSansTextPro-Regular.woff2"),
    url("../fonts/JohnSansTextPro-Regular.woff"),
    url("../fonts/JohnSansTextPro_gdi.ttf");
  font-family: "john_sans";
}

@font-face {
  src: url("../fonts/JohnSansTextPro-Regular.woff2"),
    url("../fonts/JohnSansTextPro-Regular.woff"),
    url("../fonts/JohnSansTextPro-Bold_gdi.ttf");
  font-family: "john_sans_bold";
}
